@import "tailwindcss";

@theme {
  --font-sans: "Smythe", sans-serif;
  --font-verdana: "Verdana", sans-serif;
}
/* this is the go-to way to handle initial layout*/
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: gray;
}
